@model IEnumerable<Secret>
    <h1>Recent Secrets</h1>

    @{
        int active = 1;
    }
@{
    foreach(var secret in @Model)
    {
    <div class="secret">
        <h4>@secret.Content (@secret,CreatedAt) @secret.Like.Count</h4>
    </div>
        @if(@active == @secret.user_id)
        {
            <a href="Delete/{asd}">Delete</a>
        }
        @elseif(secret.likes.Any(l=>l.user_id == active))
        {
            
        }

    }
}